
    <div class="container center-align">
      <div class="row">
          <div class="col s4">
              <img src="<%= user.imageUrl %>" style="margin-top: 20px; max-height: 300px;"alt="User Picture"/>
          </div> 
      <div class="col s8">
        <h1 style="margin-top: 85px;"><%= user.name %></h1>
        <p class="lead">
          <p class="lead">Writing from: <%= user.currentCity %> | Joined up: <%= user.createdAt.toDateString() %></p>
          <p>User ID: <%= user._id%></p>
          <a href="/users/profile/edit" class="btn btn-warning btn-sm">Edit Profile</a>
        </div>   
    </div>
            <br>
        </p>
    </div>
    <div class="container">
      <div class="card">
        <div class="card-content">
        <h4>See What's new!</h4>
        <a href="/cities" class="btn btn-primary">Let's Explore</a>
      </div>
      </div>
    </div>
<div class="container">
<!-- SAMPLE CONTENT - FOR PLACEMENT ONLY -->
<h2>Travel Journal</h2>
<% posts.forEach(p => { %>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-content">
    <h5 class="section"><%= p.title %></h5>
    <p ><%= p.body %></p>
    <p ><%= p.author %></p>

    <a href="#" class="section btn btn-primary">See Post</a>
 
  </div>
</div>
<% }) %>
</div>