<% if (loggedIn) { %>
<div class="container">
        <h1>Posts</h1>
        <% if (success) { %>
                <div class="card"  style="margin-bottom: 2rem">
                    <div class="card-content">
                        <h2><%= payload.title %></h2>
                        <br>
                        <p style="margin-bottom: 2rem"><%= payload.body %></p>
                        <% if (loggedIn && String(currentUser._id) === String(payload.author)) { %>
                        <form method="POST" action='/cities/<%= payload._id %>/posts/<%= payload.id %>?_method=DELETE' class="display: inline;">
                        <button class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">delete</i></button>
                        <a href="/cities/<%= payload.city_id %>/posts/<%= payload.post_id %>/"class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">redo</i></a>
                        </form>
                        <% }%>
                    </div>
                </div>
        <% } %>
</div>
<% } else { %>
    <div class="container">
    <h1>Uh, oh!</h1>
    <p>You must be signed in to view this information. Please <a href="/users/login">Login</a> or <a href="/users/signup">Sign Up</a>.</p>
    </div>
    <% } %>